Django==2.1.4
django-appconf==1.0.2
django-ckeditor==5.6.1
django-debug-toolbar==1.11
django-imagekit==4.0.2
django-js-asset==1.1.0
django-mptt==0.9.1
django-recaptcha==1.4.0
pilkit==2.0
Pillow==5.3.0
psycopg2-binary==2.7.6.1
pytz==2018.7
six==1.11.0
sqlparse==0.2.4
Unidecode==1.0.23
xmltodict==0.11.0
