{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}
    Сравнение цен на  - www.pricerace.ru
{% endblock title %}

{% block description %}Это брендовая страница{% endblock description %}

{% block content %}
<div class="product-section section mt-20 mb-20">
    <div class="container">
    {% if breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item px-1"><a href="{% url 'discounts:discount_list' %}">Скидки</a></li>
        {% for bc in breadcrumbs %}
            <li class="breadcrumb-item dropdown"><a  href="{{ bc.get_absolute_url }}">{{ bc.name }}</a>
                  <a class=" dropdown-toggle mx-1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    {% for bc_siblings in bc.get_siblings %}
                        <a class="dropdown-item" href="{{ bc_siblings.get_absolute_url }}">{{ bc_siblings.name }}</a>
                    {% endfor %}
                  </div>
            </li>
        {% endfor %}
      </ol>
    </nav>
    {% endif %}
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-12 order-lg-2 mb-50">

                <div class="row mb-50">
                    <div class="col">

                        <!-- Shop Top Bar Start -->
                        <div class="shop-top-bar with-sidebar">

                            <!-- Product View Mode -->
                            <div class="product-view-mode">
                                <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                <a href="#" data-target="list"><i class="fa fa-list"></i></a>
                            </div>

                            <!-- Product Showing -->
                            <div class="product-showing">
                                <p>Showing</p>
                                <select name="showing" class="nice-select">
                                    <option value="1">8</option>
                                    <option value="2">12</option>
                                    <option value="3">16</option>
                                    <option value="4">20</option>
                                    <option value="5">24</option>
                                </select>
                            </div>

                            <!-- Product Short -->
                            <div class="product-short">
                                <p>Short by</p>
                                <select name="sortby" class="nice-select">
                                    <option value="trending">Trending items</option>
                                    <option value="sales">Best sellers</option>
                                    <option value="rating">Best rated</option>
                                    <option value="date">Newest items</option>
                                    <option value="price-asc">Price: low to high</option>
                                    <option value="price-desc">Price: high to low</option>
                                </select>
                            </div>

                            <!-- Product Pages -->
                            <div class="product-pages">
                                <p>Pages 1 of 25</p>
                            </div>

                        </div><!-- Shop Top Bar End -->

                    </div>
                </div>

                <!-- Shop Product Wrap Start -->
                <div class="shop-product-wrap grid with-sidebar row">
                    {% for product in product_list %}
                    <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10">
                        <!-- Product Start -->
                        <div class="ee-product">
                            <!-- Image -->
                            <div class="image d-flex mx-auto align-items-center justify-content-center">
                                <a href="{{ product.url }}">
                                    <img class="p-2 mx-auto d-block img-fluid" src="{% if product.discount_image %}
                                                                                    {{ product.discount_image.url }}
                                                                                    {% else %}
                                                                                    {% static 'images/zagluschka.png' %}
                                                                                    {% endif %}" alt=""></a>
                            </div>
                            <!-- Content -->
                            <div class="content">
                                <!-- Category & Title -->
                                <div class="category-title">
                                    <h5 class="title"><a href="{{ product.url }}">{{ product.name }}</a></h5>
                                </div>
                                <!-- Price & Ratting -->
                                <div class="price-ratting">
                                    <h5 class="price">{{ product.price }} <i class="fas fa-ruble-sign"></i>
                                    <span class="old">{{ product.oldprice }} <i class="fas fa-ruble-sign"></i></span></h5>
                                </div>
                            </div>
                        </div><!-- Product End -->
                    </div>
                    {% endfor %}
                </div><!-- Shop Product Wrap End -->

                {% include 'includes/pagination.html' %}

            </div>

            <form class="shop-sidebar-wrap col-xl-3 col-lg-4 col-12 order-lg-1 mb-15">

                <div class="shop-sidebar mb-35">

                    <h4 class="title">Категории</h4>
                    {% recursetree categories %}
                    <ul class="sidebar-category">

                        <li><a href="#">{{ node.name }}</a>
                            {% if not node.is_leaf_node %}
                            <ul class="children">
                                {% for cat_children in node.get_children %}
                                <li><a href="{{ cat_children.get_absolute_url }}">{{ cat_children.name }}</a></li>
                                {% endfor %}

                            </ul>
                            {% endif %}
                        </li>
                    </ul>
                    {% endrecursetree %}
                </div>

                <!-- Brands -->
                <form action="." method="get">
                {% if vendors.count >= 10 and vendors%}
                    <div class="shop-sidebar mb-35">
                        <h4 class="title" data-spy="scroll" data-target="#brand_liste">Бренды</h4>
                            <div class="input-group">
                              <input id="brand_list_input" type="text"  class="form-control" placeholder="Поиск бренда" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            </div>
                            <ul class="sidebar-brand position-relative"  id="brand_liste" style="height: 450px; overflow-y: scroll;">
                                 {{ filter_discount.brand }}
                            </ul>
                    </div>
                {% elif vendors %}
                    <div class="shop-sidebar mb-35">
                        <h4 class="title" data-spy="scroll" data-target="#brand_liste">Бренды</h4>
                            <div class="input-group">
                              <input id="brand_list_input" type="text"  class="form-control" placeholder="Поиск бренда" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            </div>
                            <ul class="sidebar-brand position-relative"  id="brand_liste">
                                {{ filter_discount.brand }}
                            </ul>
                    </div>


                    <div class="shop-sidebar mb-35">
                        <h4 class="title">Цена</h4>
                        <div class="sidebar-price">
                            <div class="form-row align-items-center">
                                <div class="col">
                                  {{ filter_discount.min_price }}
                                </div>
                                <div class="col">
                                  {{ filter_discount.max_price }}
                                </div>
                                  <button type="submit" class="btn btn-yellow w-100 mx-1" onclick="$('forma');"><i class="fas fa-search"></i></button>
                              </div>
                         </div>
                    </div>
                {% endif %}
                </form>
                <!-- END BRANDS -->
            </div>

        </div>
    </div>
</div>


{% endblock content %}