{% load tagshelper %}

{% if product_list.has_other_pages %}
<div class="row mt-30">
    <div class="col">
        <ul class="pagination">
            {% if product_list.has_previous %}
                <li><a href="?page=1{% if request.GET.brand %}&brand={{ request.GET|get_list:'brand' }}{% endif %}"><i class="fas fa-angle-double-left"></i></a></li>
                <li><a href="?page={% if request.GET.brand %}&brand={{ request.GET|get_list:'brand' }}{% endif %}{{ product_list.previous_page_number }}"><i class="fas fa-angle-left"></i></a></li>
            {% endif %}
            {% for i in product_list.paginator.page_range %}

                {% if product_list.number == i %}
                    <li class="active">
                        <a>{{ i }}</a>
                    </li>
                {% elif i|add:"-5" <= product_list.number and product_list.number <= i|add:"2" %}
                    <li><a href="?page={{ i }}{% if request.GET.brand %}&brand={{ request.GET|get_list:'brand' }}{% endif %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if product_list.has_next %}
                <li><a href="?page={{ product_list.next_page_number }}{% if request.GET.brand %}&brand={{ request.GET|get_list:'brand' }}{% endif %}"><i class="fas fa-angle-right"></i></a></li>
                <li><a href="?page={{ product_list.paginator.num_pages }}{% if request.GET.brand %}&brand={{ request.GET|get_list:'brand' }}{% endif %}"><i class="fas fa-angle-double-right"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}