{% extends 'base.html' %}
{% load mptt_tags %}
{% block content %}

<!-- Section Start -->
<div class="section">
    <div class="container">

        <div class="row my-3">
            <div class="col-lg-12">
                <div class="card w-100">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-header text-center">
                    <h3>{{ category.name }}</h3>
                  </div>
                </div>
            </div>
        </div>


        <div class="row">

            {% recursetree cat %}
            <div class="col-lg-3 col-sm-auto">
                <div class="card bg-light mb-3">

                  <div class="card-header text-center">
                      <h5><a href="{{ node.get_absolute_url }}">{{ node.name }}</a>

                      </h5>

                  </div>
                <img class="card-img-top" src="https://picsum.photos/348/348" alt="Card image cap">
                <div class="dropdown">
                      <a class="btn btn-yellow dropdown w-100 border-0" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Подкатегории
                      </a>
                      <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
                        <ul>
                            {% for i in node.get_children %}
                                <li><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></li>
                            {% endfor %}
                          </ul>
                      </div>
                    </div>
                </div>
            </div>
            {% endrecursetree %}

        {% comment %}
        <ul>
            {% for i in node.get_children|slice:":4" %}
                <li><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></li>
            {% endfor %}
          </ul>
        {% endcomment %}

    </div>

</div><!-- Section End -->


{% endblock content %}