{% extends 'base.html' %}
{% load mptt_tags %}

{% block content %}
<!-- Section Start -->
<div class="section">
    <div class="container">
    <div class="breadcrumb my-3">
            <ul>
                <li><a href="{% url 'shop:home' %}">Главная</a></li>
                {% for bc in breadcrumbs %}
                    <li><a href="{{ bc.get_absolute_url }}">{{ bc.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="row my-3">
            <div class="col-lg-12">
                <div class="col-12 mb-20 px-0">
                    <div class="section-title-one"><h1>{{ category.name }}</h1></div>
                </div>
            </div>
        </div>


        <div class="row">

            {% recursetree cat %}
            <div class="col-lg-3 col-sm-auto">
                <div class="card bg-light mb-3">

                  <div class="card-header text-center position-absolute w-100 border-0">
                      <a  href="{{ node.get_absolute_url }}">
                      <h5 class="bold">{{ node.name }}

                      </h5>

                  </div>
                <img class="card-img-top" src="https://picsum.photos/348/348" alt="Card image cap"></a>
                {% if not node.get_level == 2 %}
                <div class="dropdown dropup">
                  <a class="btn btn-yellow w-100 border-0 " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Подкатегории
                  </a>
                  <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
                    <ul>
                        {% for i in node.get_children %}
                            <li><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></li>
                        {% endfor %}
                      </ul>
                  </div>
                </div>
                {% endif %}
                </div>
            </div>
            {% endrecursetree %}

        {% comment %}
        <ul>
            {% for i in node.get_children|slice:":4" %}
                <li><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></li>
            {% endfor %}
          </ul>
        {% endcomment %}

    </div>

</div><!-- Section End -->


{% endblock content %}