{% extends 'base.html' %}
{% load mptt_tags %}

{% block content %}
<div class="product-section section mt-20 mb-20">
    <div class="container">
    <div class="breadcrumb mb-25">
            <ul>
                <li><a href="{% url 'shop:home' %}">Главная</a></li>
                {% for bc in breadcrumbs %}
                    <li><a href="{{ bc.get_absolute_url }}">{{ bc.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="row">

            <div class="col-xl-9 col-lg-8 col-12 order-lg-2 mb-50">

                <div class="row mb-50">
                    <div class="col">

                        <!-- Shop Top Bar Start -->
                        <div class="shop-top-bar with-sidebar">

                            <!-- Product Short -->
                            <div class="product-short">
                                <p>Short by</p>
                                <select name="sortby" class="nice-select" style="display: none;">
                                    <option value="trending">Trending items</option>
                                    <option value="sales">Best sellers</option>
                                    <option value="rating">Best rated</option>
                                    <option value="date">Newest items</option>
                                    <option value="price-asc">Price: low to high</option>
                                    <option value="price-desc">Price: high to low</option>
                                </select><div class="nice-select" tabindex="0"><span class="current">Trending items</span><ul class="list"><li data-value="trending" class="option selected">Trending items</li><li data-value="sales" class="option">Best sellers</li><li data-value="rating" class="option">Best rated</li><li data-value="date" class="option">Newest items</li><li data-value="price-asc" class="option">Price: low to high</li><li data-value="price-desc" class="option">Price: high to low</li></ul></div>
                            </div>

                            <!-- Product Pages -->
                            <div class="product-pages">
                                <p>Pages 1 of 25</p>
                            </div>

                        </div><!-- Shop Top Bar End -->

                    </div>
                </div>

                <!-- Shop Product Wrap Start -->
                <div class="shop-product-wrap grid with-sidebar row">
                    {% for product in products_list %}
                    <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">
                            <!-- Image -->
                                <figure class="figure-img d-flex mx-auto align-items-center single-pro-card image_category">
                                    <a href="{{ product.get_absolute_url }}"><img class="d-block img-fluid" src="{% if product.product_image_category %}{{ product.product_image_category.url }}{% endif %}" alt="{{ product.name }}"></a>
                                </figure>
                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="{{ product.category.get_absolute_url }}" class="cat">{{ product.category.name }}</a>
                                    <h5 class="title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">от {{ product.min_price }} <i class="fas fa-ruble-sign"></i></h5>

                                </div>

                            </div>

                        </div><!-- Product End -->

                    </div>
                    {% endfor %}
                </div><!-- Shop Product Wrap End -->

                <div class="row mt-30">
                    <div class="col">

                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-angle-left"></i>Back</a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li> - - - - - </li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">Next<i class="fa fa-angle-right"></i></a></li>
                        </ul>

                    </div>
                </div>

            </div>

            <div class="shop-sidebar-wrap col-xl-3 col-lg-4 col-12 order-lg-1 mb-15">

                <div class="shop-sidebar mb-35">

                    <h4 class="title">Категории</h4>
                    {% recursetree cat %}
                    <ul class="sidebar-category">
                        <li class="has-children"><a href="#">{{ node.name }}</a>

                            <ul class="children">
                                {% for i in node.get_children %}
                                    <li><a href="{{ i.get_absolute_url }}" >{{ i.name }}</a></li>
                                {% endfor %}
                            </ul>

                        </li>
                    </ul>
                    {% endrecursetree %}
                </div>

                <div class="shop-sidebar mb-35">

                    <h4 class="title">Brand</h4>

                    <ul class="sidebar-brand">
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">Sumsang</a></li>
                        <li><a href="#">Phillips</a></li>
                        <li><a href="#">Zeon</a></li>
                        <li><a href="#">Panasonic</a></li>
                        <li><a href="#">Uawei</a></li>
                    </ul>

                </div>

                <div class="shop-sidebar mb-35">

                    <h4 class="title">Price</h4>

                    <div class="sidebar-price">
                        <div id="price-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 1.25%; width: 76.55%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 1.25%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 77.8%;"></span></div>
                        <input type="text" id="price-amount" readonly="">
                    </div>

                </div>

                <div class="shop-sidebar mb-35">

                    <div class="banner"><a href="#"><img src="assets/images/banner/banner-41.jpg" alt="Banner"></a></div>

                </div>

                <div class="shop-sidebar mb-35">

                    <h4 class="title">Color</h4>

                    <ul class="sidebar-brand">
                        <li><a href="#">White</a></li>
                        <li><a href="#">Black</a></li>
                        <li><a href="#">Cosmic Black</a></li>
                        <li><a href="#">Rose Gold</a></li>
                        <li><a href="#">Spacegrey</a></li>
                    </ul>

                </div>

                <div class="shop-sidebar mb-35">

                    <h4 class="title">Tags</h4>

                    <div class="sidebar-tags">
                        <a href="#">smartphone</a>
                        <a href="#">Iron</a>
                        <a href="#">Trimer</a>
                        <a href="#">Smart Watch</a>
                        <a href="#">Play Station</a>
                        <a href="#">Oven</a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock content %}