{% extends 'base.html' %}

{% block content %}
<section class="section-content my-4">
    <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Главная</a></li>
        {% for bc in breadcrumbs %}
        <li class="breadcrumb-item active"><a href="#">{{ bc.name }}</a></li>
        {% endfor %}
      </ol>
    </nav>
        <article class="mb-5">
        <div class="row">
            <div class="col-lg-4 col-sm-12 d-flex mx-auto align-items-center justify-content-center">
                <figure class="figure-img ">
                    <img itemprop="image" class="d-block img-fluid" src="{{ product.product_image.url }}" alt="{{ product.name }}">
                </figure>
            </div>
            <div class="col-lg-8 col-sm-12">
                <h1 class="title mb-3">{{ product.name }}</h1>

                <div class="mb-3">

                </div>

                <span class="product-list">Категория: <a href="#">{{ product.category.name }}</a></span><br>
                <span class="product-list">Бренд: <a href="#">{{ product.vendor.name }}</a></span>
                <hr>
            </div>
        </div>
        <hr>
            <div class="mt-4">
                <h3>Цены</h3>
            </div>
            <ul class="list-group list-group-flush">
              {% for price_list in product.products.all %}
              <li class="list-group-item px-0">
                  <div class="container compare-price px-0">
                      <div class="row">
                          <div class="col-sm-12 col-lg-7">
                              <figure class="figure-img d-flex mx-auto align-items-center compare-pro-card float-left pr-2 mb-0">
                                <a href="{{ price_list.url }}"><img class="d-block img-fluid shadow" src="{% if price_list.shop.image_store %}{{ price_list.shop.image_store.url }}{% endif %}" alt="{{ price_list.name }}"></a>
                              </figure>
                              <h6 class="title-compare mb-0">{{ price_list.name }}</h6>
                              <span>в <a href="{{ price_list.url }}">{{ price_list.shop.name }}</a></span>
                          </div>
                          <div class="col-sm-6 col-lg-3">
                              <div class="price-wrap float-right">
                                {% if price_list.oldprice %}
                                <span class="old-price">{{ price_list.oldprice }} <i class="fa fa-ruble"></i></span>
                                {% endif %}
                                <span class="price">{{ price_list.price }} <i class="fa fa-ruble"></i></span>
                              </div>
                          </div>
                          <div class="col-sm-6 col-lg-2 ">
                              <a href="{{ price_list.url }}" target="_blank"><button type="button" class="btn btn-primary float-right w-100">Купить</button></a>
                          </div>
                      </div>
                  </div>
              </li>
              {% endfor %}
            </ul>

            <ul class="nav nav-tabs my-4" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Описание</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Характеристики</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div>{{ product.description|safe|linebreaks }}</div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l
              </div>
              <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">

              </div>
            </div>

        </article>
    </div>
    <div class="container">
        <div class="padding-y-sm">
            <h3>Похожие товары</h3>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-4 mb-4">
          <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center single-pro-card">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title single-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>
            </div>
            <h6 class="price price-single p-2 mb-0 text-center">от 34989,60 <i class="fa fa-ruble"></i></h6>
          </div>
        </div>
            <div class="col-lg-2 col-md-4 mb-4">
          <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center single-pro-card">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title single-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>

            </div>
            <h6 class="price price-single p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i></h6>
          </div>
        </div>
            <div class="col-lg-2 col-md-4 mb-4">
          <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center single-pro-card">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title single-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>

            </div>
            <h6 class="price price-single p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i></h6>
          </div>
        </div>
            <div class="col-lg-2 col-md-4 mb-4">
          <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center single-pro-card">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title single-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>

            </div>
            <h6 class="price price-single p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i></h6>
          </div>
        </div>
            <div class="col-lg-2 col-md-4 mb-4">
          <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center single-pro-card">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title single-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>

            </div>
            <h6 class="price price-single p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i></h6>
          </div>
        </div>
            <div class="col-lg-2 col-md-4 mb-4">
          <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center single-pro-card">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title single-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>
            </div>
            <h6 class="price price-single p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i></h6>
          </div>
        </div>
        </div>
    </div>

    {% if product.video %}
    <div class="container">
        <div class="padding-y-sm">
            <h3>Видео обзор</h3>
            <hr>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ product.video }}" allowfullscreen></iframe>
        </div>
    <hr>
    </div>
    {% endif %}

    <div class="container">
        <div class="padding-y-sm">
        <ul class="nav nav-tabs my-4" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="rewiew-tab" data-toggle="tab" href="#rewiew" role="tab" aria-controls="rewiew" aria-selected="false">
                {% with comments.count as total_comments %}
                    Отзывы ({{ total_comments }})
                {% endwith %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="make_rewiew-tab" data-toggle="tab" href="#make_rewiew" role="tab" aria-controls="make_rewiew" aria-selected="false">
                Оставить Отзыв
            </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="rewiew" role="tabpanel" aria-labelledby="rewiew-tab">
              <div>
                  <ul class="list-unstyled">
                  {% for comment in comments %}
                  <li class="media">
                    <img class="mr-3" src="https://via.placeholder.com/60x60" alt="Generic placeholder image">
                    <div class="media-body"><span class="float-right">{{ comment.created }}</span>
                      <h5 class="mt-0 mb-1">от {{ comment.name }}</h5>
                      <div>
                          {{ comment.body|linebreaks }}
                      </div>
                    </div>
                  </li>
                  {% empty %}
                      <p>Отзывов пока нет. Станьте первым кто оставит отзыв.</p>
                  {% endfor %}
                </ul>
              </div>
          </div>
          <div class="tab-pane fade" id="make_rewiew" role="tabpanel" aria-labelledby="make_rewiew-tab">
                <form action="." method="post">
                    {{ comment_form.as_p }}
                    {% csrf_token %}

                    <p><input type="submit" class="btn btn-primary" value="Оставить отзыв"></p>
                </form>
          </div>
        </div>
    </div>

</section>
{% endblock content %}