{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="section mt-20 mb-20">
    <div class="container">
        <div class="row justify-content-center">
            {% for cat in categories %}
            <div class="col-lg-3 col-md-6 col-sm-auto mb-3">
                <div class="card h-100">

                  <div class="card-header text-center w-100 border-0 p-2">
                      <a  href="{{ cat.get_absolute_url }}">
                      <h5 class="bold">
                            {{ cat.name }}
                      </h5>
                      </a>
                  </div>
                <div class="image d-flex mx-auto align-items-center justify-content-center">
                                <a href="{{ cat.get_absolute_url }}">
                                    <img class="mx-auto d-block img-fluid" src="{% if cat.category_image %}{{ cat.category_image.url }}{% else %}{% static 'images/zaglushka_cat.png' %}{% endif %}" alt="Сравнение цен на {{ cat.name }}" title="{{ cat.name }}"></a>
                            </div>

                </div>
            </div>
            {% endfor %}

            <div class="col-xl-12 col-lg-8 col-12 order-lg-2 mb-50 mt-25">
                <div class="row mb-20">
                    <div class="col-12 mb-20 px-0">
                        <div class="section-title-one" data-title="Популярные товары"><h2>Популярные товары</h2></div>
                    </div>
                </div>
                <!-- Shop Product Wrap Start -->
                <div class="shop-product-wrap grid row">
                {% for product in list_pro %}
                    <div class="col-xl-3 col-md-6 col-12 pb-30 pt-10">
                        <!-- Product Start -->
                        <div class="ee-product">
                            <!-- Image -->
                            <div class="image d-flex mx-auto align-items-center justify-content-center">
                                <a href="{{ product.get_absolute_url }}">
                                    <img class="p-2 mx-auto d-block img-fluid" src="{% if product.product_image_category %}
                                                                                        {{ product.product_image_category.url }}
                                                                                    {% else %}
                                                                                        {% static 'images/zagluschka.png' %}
                                                                                    {% endif %}" alt="{{ product.name }}" title="{{ product.name }}"></a>
                            </div>
                            <!-- Content -->
                            <div class="content">
                                <!-- Category & Title -->
                                <div class="category-title">
                                    <h5 class="title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                                </div>
                                <!-- Price & Ratting -->
                                <div class="price-ratting">
                                    <h5 class="price">от {{ product.min_price }} <i class="fas fa-ruble-sign"></i></h5>
                                </div>
                            </div>
                        </div><!-- Product End -->
                    </div>
                {% endfor %}
                </div><!-- Shop Product Wrap End -->

            </div>

        </div>
            <div>
                <div class="text-center">
                    <h1>Сравнение цен на товары для любых ситуаций </h1>
                    <p>
                        Мы убеждены в этом и предлагаем вам сервис для любых обстоятельств с нашим каталогом сравнение цен. Ищете ли вы новый смартфон, энергосберегающую стиральную машину или коляску.
                    </p>
                    <p>
                       В нашем обширном ассортименте вы найдете товары, которые подходят вам и в то же время  имеют хорошее соотношение цены и качества.
                    </p>
                    <h2>Ищите товары или просто просматривайте предложения</h2>
                    <p>
                        Ищите свой любимый товар в нашем каталоге или просматривайте наши категории и вдохновляйтесь выбором.
                    </p>
                    <p>
                        Вы хотите обставить свою квартиру или привести свой сад в порядок? Осмотритесь в нашей категории дом и сад. Там вы найдете широкий ассортимент мебели, декораций или садовой мебели.
                    </p>
                    <p>
                        Ищете новые наушники или LED-телевизор? Тогда вам в категорию электроники. Как профессионал или любитель спорта вы можете найти много товаров в категории спорт и отдых и соответствующие аксессуары от теннисной ракетки до коврика для йоги.
                    </p>
                </div>
                <hr>
                <div class="row text-center">
                <div class="col-lg-6 my-3 ml-0">
                    <h2>1. Найди … <br>необходимый товар</h2>
                    <h3>По быстрому к лучшей цене</h3>

                    <p>Мы любим качественные товары и низкие цены. Наш поисковик цен поможет вам объединить и то, и другое и сэкономить при каждой покупке в интернете. Самые лучшие предложения от ведущих интернет-магазинов в одном месте, нет необходимости открывать десяток вкладок в браузере.

                    <h4>Никогда не переплачивать за продукт</h4>

                        За считанные секунды сравним для вас более 150 тысяч предложений. Таким образом, вы узнаете, какие цены, стоимость доставки и варианты доставки вас ожидает от каждого интернет-магазина. Вы можете почитать отзывы о товарах от других покупателей и оставить свой отзыв.</p>
                </div>
                <div class="col-lg-6 my-3 mr-0">
                    <h2>2. Экономь … <br>покупай по самой лучшей цене</h2>

                    <h3>Бесплатный. Простой. Серьезный сервис.</h3>

                    <p>Мы не продаем продукцию, мы сравниваем цены. Почему это важно для нас? – Потому что с нашей поисковой системой цен мы предлагаем вам объективный обзор лучших предложений от интернет-магазинов на рынке и хотим дать вам честный обзор.

                    <h4>Самая низкая цена показывается сверху</h4>

                    У нас нет любимцев среди интернет-магазинов или производителей. То, что оказывается сверху, является результатом самой низкой цены. Все магазины проверяются на серьезность, прежде чем они будут включены в нашу систему сравнение цен.</p>
                </div>
                </div>
            </div>
    </div>
</div>

{% endblock content %}
