{% extends 'old_base.html' %}


{% block content %}
<section class="section-content padding-y-sm">
    <div class="container">
        <div class="padding-y-sm">
            <h3>Популярные товары</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 mb-4">
          <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/253x253" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>

            </div>
            <h6 class="price p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i> <span class="price-sale">43990,00 <i class="fa fa-ruble"></i></span></h6>

              <a href="https://xf.gdeslon.ru/cc/0c7e8158ade77f5b206e1d956eba4a3571d59728/a0b2777bcaab56c5/" target="_blank" class="btn btn-block card-footer text-white shadow">
                  КУПИТЬ
              </a>
          </div>
        </div>
            <div class="col-lg-3 col-md-4 mb-4">
          <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/320x120" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>

            </div>
            <h6 class="price p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i> <span class="price-sale">43990,00 <i class="fa fa-ruble"></i></span></h6>

              <a href="https://xf.gdeslon.ru/cc/0c7e8158ade77f5b206e1d956eba4a3571d59728/a0b2777bcaab56c5/" target="_blank" class="btn btn-block card-footer text-white shadow">
                  КУПИТЬ СЕЙЧАС
              </a>
          </div>
        </div>
            <div class="col-lg-3 col-md-4 mb-4">
          <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/120x253" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>

            </div>
            <h6 class="price p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i> <span class="price-sale">43990,00 <i class="fa fa-ruble"></i></span></h6>

              <a href="https://xf.gdeslon.ru/cc/0c7e8158ade77f5b206e1d956eba4a3571d59728/a0b2777bcaab56c5/" target="_blank" class="btn btn-block card-footer text-white shadow">
                  Купить сейчас
              </a>
          </div>
        </div>
            <div class="col-lg-3 col-md-4 mb-4">
          <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/253x253" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>

            </div>
            <h6 class="price p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i> <span class="price-sale">43990,00 <i class="fa fa-ruble"></i></span></h6>

              <a href="https://xf.gdeslon.ru/cc/0c7e8158ade77f5b206e1d956eba4a3571d59728/a0b2777bcaab56c5/" target="_blank" class="btn btn-block card-footer text-white shadow">
                  Купить сейчас
              </a>
          </div>
        </div>
        </div>

        <div class="padding-y-sm">
            <h3>Бытовая техника со скидкой</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 mb-4">
              <div class="card h-100">
                <figure class="figure-img d-flex mx-auto align-items-center">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/253x253" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                </figure>
                <div class="card-body p-2">
                  <h4 class="card-title text-center mb-0">
                    <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
                  </h4>

                </div>
                <h6 class="price p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i> <span class="price-sale">43990,00 <i class="fa fa-ruble"></i></span></h6>

                  <a href="https://xf.gdeslon.ru/cc/0c7e8158ade77f5b206e1d956eba4a3571d59728/a0b2777bcaab56c5/" target="_blank" class="btn btn-block card-footer text-white shadow">
                      Купить сейчас
                  </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
            <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/320x120" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>

            </div>
            <h6 class="price p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i> <span class="price-sale">43990,00 <i class="fa fa-ruble"></i></span></h6>

              <a href="https://xf.gdeslon.ru/cc/0c7e8158ade77f5b206e1d956eba4a3571d59728/a0b2777bcaab56c5/" target="_blank" class="btn btn-block card-footer text-white shadow">
                  Купить сейчас
              </a>
          </div>
        </div>
            <div class="col-lg-3 col-md-4 mb-4">
          <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/253x253" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>

            </div>
            <h6 class="price p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i> <span class="price-sale">43990,00 <i class="fa fa-ruble"></i></span></h6>

              <a href="https://xf.gdeslon.ru/cc/0c7e8158ade77f5b206e1d956eba4a3571d59728/a0b2777bcaab56c5/" target="_blank" class="btn btn-block card-footer text-white shadow">
                  Купить сейчас
              </a>
          </div>
        </div>
            <div class="col-lg-3 col-md-4 mb-4">
          <div class="card h-100">
            <figure class="figure-img d-flex mx-auto align-items-center">
            <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/253x253" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title text-center mb-0">
                <a href="/deal/apple-iphone-6s-plus-32gb-grey_ozonru/">Apple iPhone 6s Plus 32GB, Grey</a>
              </h4>

            </div>
            <h6 class="price p-2 mb-0 text-center"> 34989,60 <i class="fa fa-ruble"></i> <span class="price-sale">43990,00 <i class="fa fa-ruble"></i></span></h6>

              <a href="https://xf.gdeslon.ru/cc/0c7e8158ade77f5b206e1d956eba4a3571d59728/a0b2777bcaab56c5/" target="_blank" class="btn btn-block card-footer text-white shadow">
                  Купить сейчас
              </a>
          </div>
        </div>
        </div>
        <!-- Brands -->
        <div class="padding-y-sm">
            <h3>Брэнды</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6 ">
                <div class="card h-100">
                    <figure class="figure-img d-flex mx-auto align-items-center brands-shops-card">
                    <a href="#"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                    </figure>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-0">
                        <a href="#">Travola</a>
                      </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="card h-100">
                    <figure class="figure-img d-flex mx-auto align-items-center brands-shops-card">
                    <a href="#"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                    </figure>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-0">
                        <a href="#">Travola</a>
                      </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="card h-100">
                    <figure class="figure-img d-flex mx-auto align-items-center brands-shops-card">
                    <a href="#"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                    </figure>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-0">
                        <a href="#">Travola</a>
                      </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card h-100">
                <figure class="figure-img d-flex mx-auto align-items-center brands-shops-card">
                <a href="#"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                </figure>
                <div class="card-body p-2">
                  <h5 class="card-title text-center mb-0">
                    <a href="#">Travola</a>
                  </h5>
                </div>
            </div>
        </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card h-100">
                <figure class="figure-img d-flex mx-auto align-items-center brands-shops-card">
                <a href="#"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                </figure>
                <div class="card-body p-2">
                  <h5 class="card-title text-center mb-0">
                    <a href="#">Travola</a>
                  </h5>
                </div>
            </div>
        </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card h-100">
                <figure class="figure-img d-flex mx-auto align-items-center brands-shops-card">
                <a href="#"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                </figure>
                <div class="card-body p-2">
                  <h5 class="card-title text-center mb-0">
                    <a href="#">Travola</a>
                  </h5>
                </div>
            </div>
        </div>
        </div>
        <!-- Brands-End -->
        <!-- Shops -->
        <div class="padding-y-sm">
            <h3>Магазины</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="card h-100">
                    <figure class="figure-img d-flex mx-auto align-items-center brands-shops-card">
                    <a href="#"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                    </figure>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-0">
                        <a href="#">Travola</a>
                      </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="card h-100">
                    <figure class="figure-img d-flex mx-auto align-items-center brands-shops-card">
                    <a href="#"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                    </figure>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-0">
                        <a href="#">Travola</a>
                      </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="card h-100">
                    <figure class="figure-img d-flex mx-auto align-items-center brands-shops-card">
                    <a href="#"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                    </figure>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-0">
                        <a href="#">Travola</a>
                      </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card h-100">
                <figure class="figure-img d-flex mx-auto align-items-center brands-shops-card">
                <a href="#"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                </figure>
                <div class="card-body p-2">
                  <h5 class="card-title text-center mb-0">
                    <a href="#">Travola</a>
                  </h5>
                </div>
            </div>
        </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card h-100">
                <figure class="figure-img d-flex mx-auto align-items-center brands-shops-card">
                <a href="#"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                </figure>
                <div class="card-body p-2">
                  <h5 class="card-title text-center mb-0">
                    <a href="#">Travola</a>
                  </h5>
                </div>
            </div>
        </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card h-100">
                <figure class="figure-img d-flex mx-auto align-items-center brands-shops-card">
                <a href="#"><img class="d-block img-fluid shadow" src="https://via.placeholder.com/160x160" alt="Скидка на Apple iPhone 6s Plus 32GB, Grey"></a>
                </figure>
                <div class="card-body p-2">
                  <h5 class="card-title text-center mb-0">
                    <a href="#">Travola</a>
                  </h5>
                </div>
            </div>
        </div>
        </div>
        <!-- Shops-End -->
    </div>
    </section>
{% endblock %}
