<div class="jumbotron jumbotron-fluid shadow">
  <div class="container">
    <h1 class="display-4 text-center jumbotron-title">Justhome24 - Бытовая техника для удобства и упрощения жизни</h1>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <img class="img-fluid d-block mx-auto" src="images/online-shop-6.png" alt="Находите лучшие предложения по бытовой технике от ведущих интернет-магазинов">
            <p class="lead text-center">Находите лучшие предложения по бытовой технике от ведущих интернет-магазинов</p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-fluid d-block mx-auto" src="images/tablet.png" alt="">
            <p class="lead text-center">Скидки отсортированные в одном месте по интернет-магазинам и множеством брэндов</p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-fluid d-block mx-auto" src="images/money.png" alt="Экономьте деньги - Зачем покупать дороже если можно купить товар со скидкой">
            <p class="lead text-center">Экономьте деньги - Зачем покупать дороже если можно купить товар со скидкой</p>
        </div>
    </div>
  </div>
</div>